<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> Skeleton App </ion-title>
  </ion-toolbar>
  <h6>Aqui comenzo todo</h6>
</ion-header>

<ion-content class="ion-padding">
  <h1>Bienvenido!</h1>

  <div class="container">
    <ion-item>
      <ion-input label="Usuario" labelPlacement="stacked" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password" labelPlacement="stacked" placeholder=""></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block">Ingresar</ion-button>
    <br>
    <a href="">Crear cuenta gratis</a>

  </div>
</ion-content>