<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> Skeleton App </ion-title>
  </ion-toolbar>
  <h6>Aqui comenzo todo</h6>
</ion-header>

<ion-content class="ion-padding">
  <h1>Bienvenido!</h1>

  <div class="container">
    <ion-item>
      <ion-input [(ngModel)]="username" label="Usuario" labelPlacement="stacked" placeholder="" maxlength="8" minlength="3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="password" label="Password" type="password" labelPlacement="stacked" placeholder="" maxlength="4" inputmode="numeric" ></ion-input>
    </ion-item>
    <br>
    <ion-button (click)="validateLogin()" expand="block">Ingresar</ion-button>
    <br>
    <a href="">Crear cuenta gratis</a>
    <br>

    <!-- <ion-button (click)="navigateToHome()">Ir al inicio</ion-button> -->
    <!-- <ion-button [routerLink]="['/usuario']">Ir a usuario</ion-button> -->
  </div>
</ion-content>