<ion-header>
  <ion-toolbar>
    <ion-title> Skeleton App </ion-title>
    <p>Aqui comenzo todo</p>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Bienvenido!</h1>
  <ion-item>
    <ion-input label="Usuario" labelPlacement="stacked" placeholder=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Password" labelPlacement="stacked" placeholder=""></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block">Ingresar</ion-button>
  <br>
  <a href="#">Crear cuenta gratis</a>
</ion-content>